<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathInput" value="D:\09_IT-Sharing\Convert_ANSI_to_UTF8\ANSI2UTF\Inbound" />
    <!-- SuffixFileInput Format : ex *.HSE -->
    <add key="PathOutput" value="D:\09_IT-Sharing\Convert_ANSI_to_UTF8\ANSI2UTF\Success" />
    <add key="PathBack" value="D:\09_IT-Sharing\Convert_ANSI_to_UTF8\ANSI2UTF\Back" />
    <add key="PathError" value="D:\09_IT-Sharing\Convert_ANSI_to_UTF8\ANSI2UTF\Error" />
    <add key="Pathhsefle" value="D:\09_IT-Sharing\Convert_ANSI_to_UTF8\ANSI2UTF\GE Desktop EDI\hsefle" />

    <add key="MailFrom" value="SurasakNaka@DCH-Holdings.com"/>
    <add key="MailTo" value="SurasakNaka@DCH-Holdings.com"/>
    <add key="SMTP" value="10.15.52.6"/>
    <add key="sSubjectmail" value="Error Convert ANSI to UTF-8"/>

    <add key="FtpSync_Inbound" value="Outbound_TTN.bat"/>
    <add key="WorkingDirectory" value="D:\09_IT-Sharing\Convert_ANSI_to_UTF8\FtpSync\"/>

    <add key="FtpSync_Bat2" value="Outbound_TTN.bat"/>
    <add key="WorkingDirectory_Bat2" value="D:\09_IT-Sharing\Convert_ANSI_to_UTF8\FtpSync\"/>
  </appSettings>
</configuration>